[gcode_macro SET_PA]
gcode:
  {% set material = params.MATERIAL|string %}
  {% set extruder = params.EXTRUDER|default('extruder')|string %}
  NOTIFY MSG='Using Material: ' ~ params.MATERIAL
  {% if material == 'PLA' %}
    SET_PRESSURE_ADVANCE EXTRUDER={extruder} ADVANCE=0.348
  {% elif material == 'PETG' %}
    SET_PRESSURE_ADVANCE EXTRUDER={extruder} ADVANCE=0.51
  {% else %}
    NOTIFY MSG='No PA Settings Found. Using default 0.2'
    SET_PRESSURE_ADVANCE EXTRUDER={extruder} ADVANCE = 0.2
  {% endif %}

[gcode_macro START_PRINT]
gcode:
  # Load variables
  {% set bed_temp = params.BED_TEMP|default(40)|int %}
  {% set extruder_temp = params.EXTRUDER_TEMP|default(200)|int %}
  {% set material = params.MATERIAL|default('PLA')|string %}
  #{% set chamber_temp = params.CHAMBER_TEMP|default(0)|int %}
  # Load bed mesh
  BED_MESH_PROFILE LOAD={bed_temp}.0    # Set and wait for bed to reach temperature
  SET_PA MATERIAL={material}
  M117 Waiting on bed
  M190 S{bed_temp}
  # Wait for chamber temperature
  #M117 Waiting on chamber
  #TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={chamber_temp}
  # Pre-heat extruder to 160
  M104 S160
  # Set GCODE offset
  # SET_GCODE_OFFSET Z=0
  # Home
  M117 Homing
  G28
  # Move Z up
  G1 Z10.0 F3000
  # Reset extruder
  G92 E0
  # Set extruder temperature
  M117 Waiting on nozzle
  M104 S{extruder_temp}
  # Move Z axis up a little to prevent scratching heat bed
  G1 Z2.0 F3000
  # Move to start position
  G1 X0.1 Y20 Z2.0 F5000.0
  # Wait for Extruder temperature
  M109 S{extruder_temp}
  M117 Purging
  Filament_To_Nozzle
  G92 E0 #reset extruder distance 
  # Move to start for purge line
  G1 X0.1 Y20 Z0.3 F5000.0
  # Draw 1st line
  G1 X0.1 Y150.0 Z0.3 F1500.0 E15
  # Move to side a little
  G1 X0.4 Y150.0 Z0.3 F5000.0
  # Draw 2nd line
  G1 X0.4 Y20 Z0.3 F1500.0 E30
  # Reset extruder
  G92 E0
  # Move Z up a little
  G1 Z5.0 F3000
  M117 Printing

[gcode_macro END_PRINT]
gcode:
  G91
  # Retract a bit
  G1 E-5 F2700
  G1 E-5 Z0.2 F2400
  Remove_Filament_From_Nozzle
  G92 E0 ;reset extruder distance
  G1 X5 Y5 F3000
  # Turn off bed, extruder, and fan
  M140 S0
  M104 S0
  M106 S0
  # Raise nozzle by 10mm
  G1 Z10 F3000
  G90
  # Deliver print
  G1 X10 Y225
  # Disable steppers
  M84 X Y E
  # Clear bed mesh
  BED_MESH_CLEAR
  # Turn off gcode offset
  SET_GCODE_OFFSET Z=0
  M117 Print complete

[gcode_macro PA_CAL]
# Pressure Advance Simple Test macro.
# Usage: PA_CAL BED=100 EXTRUDER=240 PA_START=0.03 PA_STEP=0.002 NZL=0.4
# Or with no parameters as: PA_CAL, this would execute as
# PA_CAL BED=99 EXTRUDER=239 PA_START=0.0 PA_STEP=0.005 NZL=(as per printer.cfg)
# First prints a line with current set PA, then prints 20 line segments
# starting with PA_START, increasing each line by PA_STEP.
# Based http://realdeuce.github.io/Voron/PA/pressure_advance.html
# Assisted by u/imoftendisgruntled, u/scul86, and thanks to u/beansisfat, u/stray_r

description: Tune Pressure Advance
gcode:
  {% if printer.idle_timeout.state == "Printing" or printer.pause_resume.is_paused %}
    {action_respond_info("Cannot do that while printing")}
	
  {% else %}
    {% set BED = params.BED|default(99)|float %}
    {% set EXTRUDER = params.EXTRUDER|default(239)|float %}
    {% set PA_START = params.PA_START|default(0.0)|float %}
    {% set PA_STEP = params.PA_STEP|default(0.005)|float %}
    {% set NZL_CFG = printer.configfile.config["extruder"]["nozzle_diameter"]|float %}
    {% set NZL = params.NZL|default(NZL_CFG)|float %}
    {% set E20 = (0.1147475 * NZL) * 20|float %}
    {% set E40 = (0.1147475 * NZL) * 40|float %}
    {% set X_MID = printer.configfile.config["stepper_x"]["position_max"]|float / 2.0 %}
    {% set Y_MID = printer.configfile.config["stepper_y"]["position_max"]|float / 2.0 %}

    START_PRINT BED_TEMP={BED} EXTRUDER_TEMP={EXTRUDER}
		
    G21 ; Millimeter units
    G90 ; Absolute XYZ
    M83 ; Relative E
    SET_VELOCITY_LIMIT ACCEL=3000 ACCEL_TO_DECEL=1500
    G92 E0
    M106 S0 
		
    G1 X{(X_MID-40)} Y{(Y_MID-65)} F30000          ; move to start position
    G1 Z0.25 F300                                  ; move to layer height
    G1 E0.75 F1800                                 ; un-retract
    G1 X{(X_MID-20)} Y{(Y_MID-65)} E{E20} F300     ; print line part one
    G1 X{(X_MID+20)} Y{(Y_MID-65)} E{E40} F9000    ; print line part two
    G1 X{(X_MID+40)} Y{(Y_MID-65)} E{E20} F300     ; print line part three
    G1 E-0.75 F1800                                ; retract
    G1 Z1 F300                                     ; Move above layer height  
		
    {% for i in range(0, 20) %}
        SET_PRESSURE_ADVANCE ADVANCE={PA_START + (i * PA_STEP)} ; set Pressure Advance
        M117 Testing Pressure Advance at: {PA_START + (i * PA_STEP)}
        G1 X{(X_MID-40)} Y{(Y_MID-35)+(5*i)} F30000           ; move to start position
        G1 Z0.25 F300                                         ; move to layer height
        G1 E0.75 F1800                                        ; un-retract
        G1 X{(X_MID-20)} Y{(Y_MID-35)+(5*i)} E{E20} F300      ; print line part one
        G1 X{(X_MID+20)} Y{(Y_MID-35)+(5*i)} E{E40} F9000     ; print line part two
        G1 X{(X_MID+40)} Y{(Y_MID-35)+(5*i)} E{E20} F300      ; print line part three
        G1 E-0.75 F1800                                       ; retract
        G1 Z1 F300                                            ; Move above layer height  
    {% endfor %}
	
	M117 Find best line and multiply it by ({PA_START} + (line * {PA_STEP}) ) to find your PA setting.

  END_PRINT
		
  {% endif %}

[gcode_macro home_check]
description: Checks if the printer is homed, it not it homes the printer
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
  G28
  {% endif %}

[gcode_macro BED_MESH]
description: Heats bed, makes a mesh and saves it
gcode:
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %} 
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}
  HOME_CHECK
  M190 S{BED_TEMP}
  BED_MESH_CLEAR
  BED_MESH_CALIBRATE PROFILE={BED_TEMP}
  TURN_OFF_HEATERS
  SAVE_CONFIG

[gcode_macro LOAD_FILAMENT]
gcode:
  M117 Loading Filament...
  M83
  G1 E60 F1000
  G1 E100 F250
  G92 E0.0
  M400
  M117 Load Complete
  G90

[gcode_macro LOAD_FILAMENT_SLOW]
gcode:
  M117 Loading Filament...
  M83
	# Break up to avoid extrude-too-long and timeouts due to how long it takes to extrude
  G1 E50 F250
  G1 E50 F250
  G1 E30 F100
  G1 E30 F100
  G92 E0.0
  M400
  M117 Load Complete
  G90

                       
[gcode_macro UNLOAD_FILAMENT]
gcode:
  M117 Unloading Filament...
  M83
  G1 E0.5 F1000
  G1 E-0.5 F1000
  G1 E1.0 F1000
  G1 E-1.0 F1000
  G1 E1.5 F1000
  G1 E-1.5 F1000
  G1 E2.0 F1000
  G1 E-120 F1000
  M117 Remove Filament Now!
  G90
  M400

[gcode_macro PURGE]
gcode:
  M83
  G1 E50.0 F250
  G90
  M400